In [6]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:520023W.c@localhost:3306/datap')
import pandas
data = pandas.read_csv(r"bank-Information.csv",encoding="gbk")
# data.to_sql("test_data",engine,index=False)
data = pandas.read_sql("test_data",engine)
data.head(2)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no